
.DS_Store
orca/.Rhistory
orca/data/2017DataOnly.csv
data/AppendixII.csv
data/2017DataOnly.csv
analyses/output/AppendixII_cleaned.csv
analyses/clean_orca.R
.DS_Store
analyses/.DS_Store
analyses/figures/.DS_Store
.RDataTmp
.RData
.Rhistory
jpod out season1
jpod out season2
