
.DS_Store
orca/.Rhistory
orca/data/2017DataOnly.csv
data/AppendixII.csv
data/2017DataOnly.csv
analyses/output/AppendixII_cleaned.csv
analyses/clean_orca.R
.DS_Store
analyses/.DS_Store
analyses/figures/.DS_Store
.RDataTmp
.RData
.Rhistory
jpod out season1
jpod out season2
analyses/.DS_Store
analyses/figures/.DS_Store
jags.output/allsrpods out season1
jags.output/allsrpods out season2
jags.output/kpod out S4
jags.output/kpod out season1
jags.output/kpod out season2
jags.output/lpod out season1
jags.output/lpod out season2
kpod out S4
kpod out S4
kpod out S4
.DS_Store
.Rhistory
analyses/.DS_Store
analyses/figures/.DS_Store
analyses/.DS_Store
.DS_Store
.DS_Store
.DS_Store
analyses/.DS_Store
analyses/figures/.DS_Store
docs/chinookphen_supp.log
docs/orcaphen.log
*.bbl
analyses/figures/.DS_Store
analyses/.DS_Store
.DS_Store
jags.output/lpod out season1  >1996
jags.output/jpod out season1 >1996
jags.output/kpod out season1 >1996
.Rhistory
jags.output/jpod out season1 psi
jags.output/kpod out season1 psi
jags.output/kpod out season2 psi
jags.output/jpod out season2 psi
jags.output/lpod out season1 psi
jags.output/lpod out season2 psi
*.DS_Store
analyses/.DS_Store
docs/srkw_phenology_nrc.pptx
analyses/.DS_Store
analyses/figures/.DS_Store
analyses/output/albionchibrms.Rda
analyses/output/j.brms.Rda
*.Rda
